/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url("http://fonts.googleapis.com/css?family=Bitter|Oswald:300,400,700");
.hero {
  text-align: center;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 1em; }

.register {
  background-color: #ec008c;
  border: none;
  color: black;
  width: 170px;
  border-radius: 4px;
  font-size: 1.25em;
  text-transform: uppercase; }

/*Nav*/
nav {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Bitter", serif;
  font-style: italic;
  padding: .5em;
  font-size: 1em;
  margin-bottom: 2em; }
  nav li {
    display: inline;
    width: 33%; }
  nav a {
    text-decoration: none;
    color: #f2f2f2; }

/*END Nav*/
.id {
  background-color: rgba(0, 0, 0, 0.7);
  width: 220px;
  margin: 0 auto;
  height: 19em;
  border-radius: 10px;
  padding-top: 2em; }

.spacer {
  height: 2em; }

.idinfo li {
  color: #f2f2f2; }
  .idinfo li:last-child {
    margin-bottom: .5em; }

/*LOG` O REPLACE*/
.logo {
  background-size: 120px 120px;
  margin: 0 auto;
  height: 120px;
  width: 120px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  text-align: center;
  padding: 0px;
  margin-bottom: 1em;
  margin-top: 0px; }

/*LOGO REPLACE*/
.logo1 {
  background-image: url("../img/groklogo.svg"); }

.logo2 {
  background-image: url("../img/logo-ums.svg"); }

.logo3 {
  background-image: url("../img/logo-tiy.svg"); }

.registration {
  text-align: center;
  margin-bottom: 1em;
  background-color: black;
  color: #f2f2f2;
  padding: 1em 0em 1em 0em; }
  .registration li:nth-child(2) {
    margin-bottom: .5em; }

footer {
  background-color: white; }

/*LOGO REPLACE*/
.sponserLogo {
  margin: 0 auto;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px; }

/*LOGO REPLACE*/
.logo2 {
  height: 130px;
  width: 300px;
  background-size: contain;
  margin-bottom: 1em; }

.logo3 {
  height: 180px;
  width: 200px;
  background-size: contain;
  margin-bottom: 1em; }

/*LOGO REPLACE*/
.logoLittle {
  background-size: 81px 196px;
  margin: 0 auto;
  height: 81px;
  width: 196px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  background-position: center;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px; }
  @media (min-width: 660px) {
    .logoLittle {
      width: 32%;
      margin-right: 1.5%; }
      .logoLittle:last-child {
        margin-right: 0%; } }

/*LOGO REPLACE*/
.littles {
  text-align: center; }
  .littles li {
    display: inline-block; }

.littleSponsors {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em; }
  .littleSponsors p {
    margin-bottom: 1em; }

.sponsors {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.sponserBox {
  text-align: center;
  border-bottom: .3em solid black; }
  .sponserBox p {
    margin-bottom: 2em; }

.little1 {
  background-image: url("../img/squarespace.png");
  height: 108px;
  width: 108px; }

.little2 {
  background-image: url("../img/treeHouse.png");
  height: 108px;
  width: 108px; }

.little3 {
  background-image: url("../img/unvision.png");
  height: 108px;
  width: 150px; }

.little4 {
  background-image: url("../img/worthwhile.png");
  height: 108px;
  width: 150px; }

.little5 {
  background-image: url("../img/mailchimp.png");
  height: 108px;
  width: 150px; }

.footerNav {
  margin: 0 auto;
  width: 90%;
  text-align: center; }
  .footerNav li {
    display: inline-block; }

.footerLogo {
  display: block; }

.logo1b {
  background-image: url("../img/groklogo2.svg");
  width: 100%; }

.trueFooter {
  background-color: black;
  padding: 1em 0em 2em 0em; }

* {
  box-sizing: border-box; }

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

html {
  color: #222;
  font-size: 1.25em;
  line-height: 1.4; }

.innerWrapper {
  width: 90%;
  margin: 0 auto; }

.outerWrapper {
  max-width: 1280px;
  margin: 0 auto; }

body {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  background-color: #f5f5f5; }

h1 {
  margin-top: 0px;
  margin-bottom: .3em;
  font-family: "Bitter", serif;
  font-size: 2.5em;
  text-align: center;
  color: #ec008c; }

h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Bitter", serif;
  font-size: 1.5em; }

p {
  margin-top: 0px;
  margin-bottom: .5em; }

nav {
  font-family: "Bitter", serif; }

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px; }

a {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333;
  font-weight: 300; }

li {
  list-style-type: none; }

.icon {
  font-size: 2em; }
  .icon .fa-facebook {
    color: #3b5998;
    margin-right: 10px; }
  .icon:last-child {
    color: #4099ff; }

.circle {
  margin: 0 auto;
  height: 172px;
  width: 172px;
  border-radius: 50%;
  border: 2px solid black;
  background-size: 172px 100%; }

.circle1 {
  background-image: url(../img/Grok-1941.jpg); }

.circle2 {
  background-image: url(../img/JAG-Grok-25.jpg); }

.circle3 {
  background-image: url(../img/Grok-2004-2008.jpg);
  background-size: 350px 100%;
  background-position: left; }

.introP {
  margin-bottom: 2em; }

.part {
  margin-bottom: 2em;
  border: 2px solid #fff;
  background-color: #ccc;
  padding: 1em .5em; }
  .part h2 {
    color: #ec008c;
    margin-bottom: .5em; }
  @media (min-width: 660px) {
    .part {
      float: left;
      width: 32%;
      margin-right: 1.5%; }
      .part:last-child {
        margin-right: 0%; } }

.circle4 {
  background-image: url("../img/paul-roof.jpg"); }

.circle5 {
  background-image: url("../img/aaron-draplin.jpg"); }

.circle6 {
  background-image: url("../img/carlsmith.jpg"); }

.circle7 {
  background-image: url("../img/moldover.jpg"); }

.speaker {
  text-align: center;
  margin-bottom: 1.5em;
  border: 2px solid #fff;
  background-color: #ccc;
  padding: 1em;
  padding-top: 2em; }

@media (min-width: 660px) {
  .stats {
    float: left;
    clear: left;
    width: 30%;
    margin-right: 5%; } }

@media (min-width: 660px) {
  .bio {
    float: right;
    width: 60%;
    margin-right: 5%; } }

.locationMill {
  margin-bottom: 1em; }

.locationBank {
  margin-bottom: 1em; }
  .locationBank li:first-child {
    font-weight: 300; }

td {
  padding: 6px 12px;
  width: 33%;
  vertical-align: top;
  text-align: left; }
  td ul {
    margin-bottom: .5em; }
  td li {
    font-weight: thin; }
  td li:nth-child(2) {
    font-weight: 300; }
  td li:last-child {
    font-weight: 300; }
  td h2 {
    text-align: left; }
  td h3 {
    margin: 0px;
    font-size: 1em;
    font-size: 1em; }

tr:first-child {
  background-color: #ec008c;
  border-bottom: 1px solid #222; }
tr:nth-child(6) {
  background-color: #aaa; }

.chartLocation {
  background-color: #aaa; }

td:first-child {
  border-right: 1px solid #222;
  background-color: #aaa; }
td:last-child {
  border-left: 1px solid #222;
  background-color: #aaa; }

#day1 {
  background-color: rgba(255, 0, 140, 0.3); }

#day3 {
  background-color: rgba(255, 0, 140, 0.3); }

#location1 {
  background-color: #777; }

#location3 {
  background-color: #777; }

#lunch2 {
  background-color: #777; }

#lunch3 {
  background-color: #777; }

table {
  background-color: #ddd;
  margin: 0 auto; }

.schedule {
  margin-bottom: 2em; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=styles.css.map */
