
.registration {
  text-align: center;
  margin-bottom: 1em;
  background-color: black;
  color: $white;
  padding: 1em 0em 1em 0em;

  li:nth-child(2) {
    margin-bottom: .5em;
  }
}

footer {
  background-color: white;
}

/*LOGO REPLACE*/
.sponserLogo {

  margin: 0 auto;

  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
/*LOGO REPLACE*/
.logo2 {
  height: 130px;
  width: 300px;
  background-size: contain;
  margin-bottom: 1em;
}

.logo3 {
  height: 180px;
  width: 200px;
  background-size: contain;
  margin-bottom: 1em;
}

/*LOGO REPLACE*/
.logoLittle {
  background-size: 81px 196px;
  margin: 0 auto;
  height: 81px;
  width: 196px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  background-position: center;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;


  @include breakpoint ($med) {
  
  width: 32%;
  margin-right: 1.5%;
  &:last-child{
    margin-right: 0%;
  

  }
}
}
/*LOGO REPLACE*/

.littles {

  text-align: center;

  li {
    display:inline-block;
    // float:left;
    // width: 50%;

    &:last-child {
      // width: 100%;
    }

  }


}

.littleSponsors {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;

  p {
    margin-bottom: 1em;
  }
}

.sponsors {
width: 100%;
margin: 0 auto;
text-align: center;


}



.sponserBox {
  text-align: center;
  border-bottom: .3em solid black;
  p {
    margin-bottom: 2em;
  }
}

.little1 {
  background-image: url("../img/squarespace.png");
  height: 108px;
  width: 108px;
}


.little2 {
  background-image: url("../img/treeHouse.png");
  height: 108px;
  width: 108px;

}


.little3 {
  background-image: url("../img/unvision.png");
  height: 108px;
  width: 150px;
}

.little4 {
  background-image: url("../img/worthwhile.png");
   height: 108px;
  width: 150px;
}

.little5 {
  background-image: url("../img/mailchimp.png");
  height: 108px;
  width: 150px;
}

.footerNav {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  li {
    display: inline-block;
  }
}

.footerLogo {
  display: block;
}

.logo1b {
   background-image: url("../img/groklogo2.svg");
   width: 100%;
}

.trueFooter {
  background-color: black;
  padding: 1em 0em 2em 0em;
}

