/*LOGO REPLACE*/
.logoLittle {
  background-size: 108px 261px;
  margin: 0 auto;
  height: 108px;
  width: 261px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  text-align: center;
  padding: 0px;
  margin-bottom: 40px;
  margin-top: 20px;
}
/*LOGO REPLACE*/


.little1 {
  background-image: url("../img/squarespace.png")
}


.little2 {
  background-image: url("../img/treeHouse.png")
}


.little3 {
  background-image: url("../img/unvision.png")
}

.little4 {
  background-image: url("../img/worthwhile.png")
}

.little5 {
  background-image: url("../img/mailchimp.png")
}
