
.hero {
  text-align: center;
}



/*Nav*/
nav {
  text-align: center;
  background-color: $transBlack;
  font-family: "Bitter", serif;
  font-style: italic;
  padding: .5em;
  font-size: 1em;

    li {
    display:inline;

  }
  a {
    text-decoration: none;
    color: $white;
  }
}
/*END Nav*/



/*LOGO REPLACE*/
.logo {
  background-size: 160px 151px;
  margin: 0 auto;
  height: 160px;
  width: 151px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
/*LOGO REPLACE*/

.logo1 {
   background-image: url("../img/groklogo.png");
}

.logo2 {
  background-image: url("../img/logo-ums.svg")
}

.logo3 {
  background-image: url("../img/logo-tiy.svg")
}