

.circle {
	margin: 0 auto;
	height: 172px;
	width: 172px;
	border-radius: 50%;
	border: 2px solid black;
	background-size: 172px 100%;
}

.circle1 {
	background-image: url(../img/Grok-1941.jpg);
	
}

.circle2 {
	background-image: url(../img/JAG-Grok-25.jpg);
	
}

.circle3 {
	background-image: url(../img/Grok-2004-2008.jpg);
	background-size: 350px 100%;
	background-position: left;
}

.introP {
	margin-bottom: 2em;
}

.part {
	margin-bottom: 2em;


	@include breakpoint ($med) {
	float: left;
	width: 50%;
			
}
}











