.locationMill {
	margin-bottom: 1em;
}


.locationBank {
	margin-bottom: 1em;
}

td {
	padding: 6px 12px;
	vertical-align: top;
	text-align: left;

	ul {
		margin-bottom: .5em;
	}

	h2 {
		text-align: left;
	}

	h3 {
		margin: 0px;
		font-size: 1em;
		font-weight: bold;
	}

}

table {
	background-color: #ddd;
	margin: 0 auto;
}

.schedule {
	margin-bottom: 2em;
}