.circle4 {
	background-image: url("../img/paul-roof.jpg");
	
}

.circle5 {
	background-image: url("../img/aaron-draplin.jpg");
	
}

.circle6 {
	background-image: url("../img/carlsmith.jpg");
	
}

.circle7 {
	background-image: url("../img/moldover.jpg");
	
}


.speaker {
	text-align: center;
	margin-bottom: 1.5em;
}