$white: #f2f2f2;
$transBlack: rgba(0,0,0,.7);
$teal: #ec008c;
$darkteal: rgba(2326,0,140,.3);




$med:660px;
$large: 980px;

@mixin breakpoint($point) {
	@media (min-width: $point) {
		@content;
	}
}